html, body {
    height =100%;
}

div {
    margin: 10px;
    border: 2px solid darkcyan;
}

#külső {
    height =100%;
    flex-direction: column;
}

#kérdés_szöveg {
}

#középső {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#válaszok {
    flex-grow: 1;
    flex-shrink: 1;
}

#vezérlő {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#kép {
    overflow: hidden;
    flex-shrink: 0;
    flex-shrink: 0;
}

#kérdés {
    background-color: darkcyan;
    color: white;
    text-align: center;
}

.gomb {
    padding: 20px;
    width: 80px;
    text-align: center;
}

.kerdes {
}

.kattintható {
    cursor: pointer;
}


.jó {
    background-color: green;
}

.rossz {
    background-color: red;
}
